body {
  display: flex;
  flex-direction: column;
  padding: 7px;
  border-radius: 5px;
}

.body-block {
  display: flex;
  flex-direction: row;
}

.head-block {
  height: 4%;
  display: flex;
  justify-content: center;
}

.heading {
  margin: 0px;
  width: 40%;
  padding: 10px;
  background-color: black;
  border-radius: 5px;
  font-size: 30px;
  text-align: center;
  color: rgb(248, 244, 244);
}

.input-box {
  width: 70%;
  height: 30px;
  border: 1px solid rgba(0, 0, 0, 0.4);
  border-radius: 5px;
  background: none;
  font-size: 15px;
  font-weight: 600;
  outline: none;
}

.input-box:focus-within {
  background-color: rgb(240, 240, 240);
}

.label-title {
  padding-top: 5px;
  font-size: large;
  font-weight: 500;
}

.label-element {
  margin-left: 25px;
  margin-top: 6px;
}

#create-todo-block {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  margin-right: 5px;
}

.button {
  width: 30px;
  height: 30px;
  border: none;
  background: none;
  font-size: large;
  font-weight: bolder;
  padding: 1px;
}

.button:hover {
  transform: scale(1.05);
}

.todo-parts {
  display: flex;
  flex-direction: row;
  margin-left: 5%;
  margin-top: 10px;
  display: flex;
  width: 400px;
}

.right-block {
  width: 30%;
  height: 640px;
  margin-top: 10px;
  margin-left: 10px;
  display: flex;
  flex-direction: column;
}

.new-todo-block {
  border: 1px solid rgba(0, 0, 0, 0.4);
  border-radius: 5px;
  width: 95%;
  height: 80%;
  overflow: scroll;
  display: flex;
  flex-direction: column;
  background-color: rgb(255, 255, 255);
}

.search-box {
  width: 95%;
  height: 20%;
  border: 1px solid rgba(0, 0, 0, 0.4);
  border-radius: 5px;
  margin-bottom: 10px;
}

.existing-todo-block {
  margin-left: 5px;
  border: 1px solid rgba(0, 0, 0, 0.4);
  border-radius: 5px;
  padding: 5px;
  width: 69%;
  height: 630px;
  overflow: scroll;
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  background-color: rgb(255, 255, 255);
}

.todo-log-heading {
  text-align: center;
}

.todo-log {
  padding: 1%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.todo-log-element {
  border: 1px solid rgba(0, 0, 0, 0.4);
  border-radius: 5px;
  width: 45%;
  height: 230px;
  overflow-x: wrap;
  margin-bottom: 10px;
  padding: 2%;
}

.task-list {
  margin-top: 5px;
  overflow: scroll;
  height: 60%;
}

.todo-tail {
  height: 25%;
  margin: 0px;
  border-top: 1px solid rgba(0, 0, 0, 0.4);
}

#todo-title,
#close-todo,
#save-todo {
  display: none;
}

#add-todo {
  display: block;
}

.checkbox {
  width: 15px;
  height: auto;
}

.add-button {
  width: 50px;
  height: 50px;
  border: none;
  background: none;
  font-size: large;
  font-weight: bolder;
  margin: 2px;
}

.delete-icon {
  width: 22px;
  height: auto;
}

.add-icon {
  width: 35px;
  height: auto;
}

.todo-head {
  height: 15%;
  display: flex;
  border-bottom: 1px solid rgba(0, 0, 0, 0.4);
  justify-content: space-between;
}

.todo-block-title {
  height: 100%;
  margin: 0px;
  border: none;
  background: transparent;
  font-size: 20px;
  font-weight: 600;
}

.todo-block-title:focus {
  outline: none;
}

.add-task-icon,
.remove-task-icon,
.delete-task-icon,
.save-icon,
.close-icon {
  width: 20px;
  height: auto;
}

.task-content {
  width: 99%;
  padding: 1%;
  padding-left: 2%;
  border: none;
  background: transparent;
  font-size: 15px;
}

.task-content:focus {
  outline: none;
}

.task {
  width: 100%;
  display: flex;
  margin-top: 5px;
}

.insert-task-box {
  margin-left: 20%;
  width: 80%;
  display: none;
}

.task-box {
  width: 85%;
  font-size: small;
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.4);
}

button:focus {
  outline: none;
}
