body {
  display: flex;
  flex-direction: column;
  padding: 7px;
  border-radius: 5px;
}

.body-block {
  display: flex;
  flex-direction: row;
}

.head-block {
  height: 2%;
  display: flex;
  justify-content: center;
}

.heading {
  margin: 0px;
  width: 40%;
  padding: 10px;
  background-color: black;
  border-radius: 5px;
  font-size: 30px;
  text-align: center;
  color: rgb(248, 244, 244);
}

.input-box {
  width: 200px;
  height: 30px;
  background: none;
  font-size: 15px;
  font-weight: 600;
  outline: none;
  margin: 10px 0px 0px 2px;
}

.input-box:focus-within {
  background-color: rgb(240, 240, 240);
}

.label-title {
  padding-top: 5px;
  font-size: large;
  font-weight: 500;
}

.label-element {
  margin-left: 25px;
  margin-top: 6px;
}

#create-todo-block {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  margin-right: 5px;
}

.button {
  width: 30px;
  height: 30px;
  border: none;
  background: none;
  font-size: large;
  font-weight: bolder;
  padding: 1px;
}

.button:hover {
  transform: scale(1.05);
}

.todo-parts {
  display: flex;
  flex-direction: row;
  margin-left: 5%;
  margin-top: 10px;
  display: flex;
  width: 400px;
}

.right-block {
  width: 20%;
  height: 675px;
  margin-top: 10px;
  margin-left: 10px;
  display: flex;
  flex-direction: column;
}

.new-todo-block {
  box-shadow: 1px 1px 3px 1px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  width: 99%;
  height: 80%;
  overflow: scroll;
  display: flex;
  flex-direction: column;
  background-color: rgb(255, 255, 255);
}

.search-box {
  width: 90%;
  height: 20%;
  border: none;

  box-shadow: 1px 1px 3px 1px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  margin-bottom: 10px;
}

.todo-log-heading {
  text-align: center;
  display: none;
}

.todo-log {
  padding: 1%;
  display: flex;
  flex-wrap: wrap;
  border-radius: 5px;
  padding: 1px;
  width: 79%;
  height: 675px;
  overflow: scroll;
  margin-top: 5px;
  display: flex;
  justify-content: space-evenly;
  background-color: rgb(255, 255, 255);
}

.todo-log-element {
  border-radius: 5px;
  width: 230px;
  height: 290px;
  overflow-x: wrap;
  margin: 10px;

  padding: 10px;
  box-shadow: 1px 1px 3px 1px rgba(0, 0, 0, 0.2);
}

.task-list {
  margin-top: 5px;
  overflow: scroll;
  height: 70%;
}

.todo-tail {
  height: 15%;
  margin: 0px;
  border-top: 1px solid rgba(0, 0, 0, 0.2);
}

.date {
  margin-top: 5px;
  font-size: 12px;
}

#todo-title,
#close-todo,
#save-todo {
  display: none;
}

#add-todo {
  display: block;
}

.checkbox {
  width: 15px;
  height: auto;
}

.add-button {
  width: 50px;
  height: 50px;
  border: none;
  background: none;
  font-size: large;
  font-weight: bolder;
  margin: 2px;
}

.delete-icon {
  width: 22px;
  height: auto;
}

.add-icon {
  width: 35px;
  height: auto;
}

.todo-head {
  height: 12%;
  display: flex;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  justify-content: space-between;
}

.todo-block-title {
  height: 100%;
  margin: 0px;
  border: none;
  background: transparent;
  font-size: 20px;
  font-weight: 600;
}

.todo-block-title:focus {
  outline: none;
}

.add-task-icon,
.remove-task-icon,
.delete-task-icon,
.save-icon,
.close-icon {
  width: 20px;
  height: auto;
}

.task-content {
  width: 99%;
  padding: 1%;
  padding-left: 2%;
  border: none;
  background: transparent;
  font-size: 15px;
}

.task-content:focus {
  outline: none;
}

.task {
  width: 100%;
  display: flex;
  margin-top: 5px;
}

.insert-task-box {
  display: flex;
  align-items: flex-start;
  width: 80%;
}

.hidden {
  display: none;
}

.task-box,
.input-box {
  margin-top: 8px;
  font-size: small;
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.4);
}

button:focus {
  outline: none;
}

#loginBox,
#signUpBox {
  box-shadow: 1px 1px 3px 1px rgba(0, 0, 0, 0.2);
  width: 320px;
  height: 450px;
  margin: 130px auto;
  border-radius: 8px;
}

#loginBox > input,
#signUpBox > input {
  width: 275px;
  height: 16px;
  margin: 2px 0px 5px;
  background-color: transparent;
  outline: none;
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  font-size: 15px;
  padding: 5px;
}

#page {
  display: flex;
  justify-content: space-evenly;
  text-align: center;
}
