body {
  display: flex;
  flex-direction: column;
  padding: 7px;
  border-radius: 10px;
}

.body-block {
  display: flex;
  flex-direction: row;
}

.head-block {
  padding: 5px;
  width: 100%;
  height: 5%;
  display: flex;
  justify-content: center;
}

.heading {
  margin: 0px;
  height: 30px;
  width: 40%;
  padding: 10px;
  background-color: black;
  font-family: Cambria serif;
  font-size: 30px;
  border: solid thin rgb(250, 250, 250);
  border-radius: 5px;
  text-align: center;
  color: rgb(248, 244, 244);
}

.input-box {
  width: 70%;
  height: 30px;
  border: solid thin;
  border-radius: 3px;
  background: none;
  font-size: 15px;
  font-weight: 600;
  outline: none;
}

.input-box:focus-within {
  background-color: rgb(240, 240, 240);
}

.label-title {
  padding-top: 5px;
  font-size: large;
  font-weight: 500;
}

.label-element {
  margin-left: 25px;
  margin-top: 6px;
}

.button {
  width: 30px;
  height: 30px;
  border: none;
  background: none;
  font-size: large;
  font-weight: bolder;
  padding: 1px;
}

.button:hover {
  transform: scale(1.05);
}

.todo-parts {
  display: flex;
  flex-direction: row;
  margin-left: 5%;
  margin-top: 10px;
  display: flex;
  width: 400px;
}

.new-todo-block {
  border: double;
  border-radius: 5px;
  padding: 5px;
  width: 30%;
  height: 630px;
  overflow: scroll;
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  background-color: rgb(255, 255, 255);
}

.existing-todo-block {
  margin-left: 5px;
  border: solid thin;
  border-radius: 5px;
  padding: 5px;
  width: 69%;
  height: 630px;
  overflow: scroll;
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  background-color: rgb(255, 255, 255);
}

.todo-log-heading {
  text-align: center;
}

.todo-log {
  padding: 1%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.todo-log-element {
  border: solid thin;
  border-radius: 5px;
  width: 45%;
  height: 230px;
  overflow-x: wrap;
  margin-bottom: 10px;
  padding: 2%;
}

.task-list {
  margin-top: 5px;
  overflow: scroll;
  height: 60%;
}

.todo-tail {
  height: 25%;
  margin: 0px;
  border-top: solid thin;
}

#todo-title {
  display: none;
}

#add-todo {
  display: block;
}

#close-todo {
  display: none;
}

#save-todo {
  display: none;
}

.checkbox {
  width: 15px;
  height: auto;
}

.add-button {
  width: 50px;
  height: 50px;
  border: none;
  background: none;
  font-size: large;
  font-weight: bolder;
  margin: 2px;
}

.delete-icon {
  width: 22px;
  height: auto;
}

.add-icon {
  width: 35px;
  height: auto;
}

.todo-head {
  height: 15%;
  display: flex;
  border-bottom: solid thin;
  justify-content: space-between;
}

.todo-block-title {
  height: 100%;
  margin: 0px;
}

.save-icon {
  width: 25px;
  height: auto;
}

.close-icon {
  width: 25px;
  height: auto;
}

.add-task-icon {
  width: 20px;
  height: auto;
}

.remove-task-icon {
  width: 20px;
  height: auto;
}

.delete-task-icon {
  width: 20px;
  height: auto;
}

.task-content {
  width: 99%;
  padding: 1%;
  padding-left: 2%;
}
.task {
  width: 100%;
  display: flex;
  margin-top: 5px;
}

.insert-task-box {
  margin-left: 20%;
  width: 80%;
  display: none;
}

.task-box {
  width: 85%;
  font-size: small;
  border: none;
  border-bottom: solid thin;
}

button:focus {
  outline: none;
}
